<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ji.hs.fire.dart.mapper.DartKeyMapper">
<!-- Dart Key 전체 조회 -->
	<select id="selectAll" resultType="ji.hs.fire.dart.vo.DartKeyVO">
		SELECT API_KEY
		     , ORD
		  FROM DT_KEY_MT
	</select>

<!-- Dart Key 단건 조회 -->
	<select id="selectOne" resultType="ji.hs.fire.dart.vo.DartKeyVO" parameterType="Integer">
		SELECT API_KEY
		     , ORD_NUM
		  FROM DT_KEY_MT
		 WHERE ORD_NUM = #{ordNum}
	</select>
</mapper>