<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="CONSOLE_OUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>[%d{yyyyMMdd HH:mm:ss.SSS}] %-5level [%9.9thread] %-40.40logger{36} : %msg%n</Pattern>
		</layout>
	</appender>
	
	<appender name="FILE_OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>[%d{yyyyMMdd HH:mm:ss.SSS}] %-5level [%9.9thread] %-40.40logger{36} : %msg%n</Pattern>
		</layout>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/DFLT_%d{yyyyMMdd}.log</fileNamePattern>
		</rollingPolicy>
	</appender>

	<appender name="SIFT_OUT" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<key>LOGKEY</key>
			<defaultValue>DFLT</defaultValue>
		</discriminator>
		<sift>
			<appender name="SIFT_${LOGKEY}" class="ch.qos.logback.core.rolling.RollingFileAppender">
				<layout class="ch.qos.logback.classic.PatternLayout">
					<Pattern>[%d{yyyyMMdd HH:mm:ss.SSS}] %-5level [%9.9thread] %-40.40logger{36} : %msg%n</Pattern>
				</layout>
				<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<fileNamePattern>${LOG_HOME}/${LOGKEY}_%d{yyyyMMdd}.log</fileNamePattern>
				</rollingPolicy>
			</appender>
		</sift>
	</appender>
	
	<root level="info">
		<appender-ref ref="CONSOLE_OUT" />
		<appender-ref ref="FILE_OUT" />
		<appender-ref ref="SIFT_OUT" />
	</root>
</configuration>