<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ji.hs.fire.act.mpr.ActMapper">
<!-- 계좌 정보 목록 조회 -->
	<select id="selectAll" resultType="ji.hs.fire.act.vo.ActVO">
		SELECT ACT_SEQ
		     , ACT_NM
		     , ACT_CD
		     , (SELECT CD_NM FROM BC_CD_DT X WHERE A.ACT_CD = X.CD AND X.CD_COL = 'ACT_CD') AS ACT_CD_NM
		     , BK_CD
		     , (SELECT CD_NM FROM BC_CD_DT X WHERE A.BK_CD = X.CD AND X.CD_COL = 'BK_CD') AS BK_NM
		     , USR_ID
		     , (SELECT USR_NM FROM BC_US_MT X WHERE A.USR_ID = X.USR_ID) AS USR_NM
		     , USE_YN
		  FROM AC_MT A
		 WHERE 1 = 1
	<if test='tlgrmId != null and tlgrmId != ""'>
		   AND USR_ID = (SELECT USR_ID FROM BC_US_MT WHERE TLGRM_ID = #{tlgrmId})
	</if>
	<if test='limit != null and limit != 0'>
		 LIMIT #{limit}
	</if>
	<if test='offset != null and offset != 0'>
		 OFFSET #{offset}
	</if>
	</select>
	
<!-- 계좌 정보 건수 조회 -->
	<select id="selectCount" resultType="Integer" parameterType="ji.hs.fire.act.vo.ActVO">
		SELECT COUNT(*) AS CNT
		  FROM AC_MT A
		 WHERE 1 = 1
	</select>
	
<!-- 계좌 정보 입력 -->
	<insert id="insert" parameterType="ji.hs.fire.act.vo.ActVO" flushCache="true">
	<![CDATA[
		INSERT INTO AC_MT (
			   ACT_SEQ
		     , ACT_NM
		     , ACT_CD
		     , BK_CD
		     , USR_ID
		     , USE_YN
			 ) VALUES (
			   #{actSeq}
			 , #{actNm}
			 , #{actCd}
			 , #{bkCd}
			 , #{usrId}
			 , 'Y'
			 )
	]]>
	</insert>
</mapper>