<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ji.hs.fire.bsc.mpr.BscCdMapper">
<!-- 코드 상세 전체 조회 -->
	<select id="selectAll" resultType="ji.hs.fire.bsc.vo.BscCdVO" parameterType="ji.hs.fire.bsc.vo.BscCdVO">
		SELECT CD_COL
		     , CD
		     , CD_NM
		     , ORD
		     , USE_YN
		  FROM BC_CD_DT
		 WHERE 1 = 1
	<if test='cdCol != null and cdCol != ""'>
		   AND CD_COL = #{cdCol}
	</if>
	<if test='cd != null and cd != ""'>
		   AND CD = #{cd}
	</if>
	<if test='cdNm != null and cdNm != ""'>
		   AND CD_NM = #{cdNm}
	</if>
		   AND USE_YN = 'Y'
		 ORDER BY ORD ASC
	</select>
	
<!--  CD_COL, CD 조건 코드 상세 단건 조회 -->
	<select id="selectOne" resultType="ji.hs.fire.bsc.vo.BscCdVO" parameterType="ji.hs.fire.bsc.vo.BscCdVO">
		SELECT CD_COL
		     , CD
		     , CD_NM
		     , ORD
		     , USE_YN
		  FROM BC_CD_DT
		 WHERE CD_COL = #{cdCol}
		   AND CD = #{cd}
	</select>
	
<!-- 코드 상세 단건 조회 -->
	<select id="selectCount" resultType="Integer" parameterType="ji.hs.fire.bsc.vo.BscCdVO">
		SELECT COUNT(*) AS CNT
		  FROM BC_CD_DT
		 WHERE 1 = 1
	<if test='cdCol != null and cdCol != ""'>
		   AND CD_COL = #{cdCol}
	</if>
	<if test='cd != null and cd != ""'>
		   AND CD = #{cd}
	</if>
	<if test='cdNm != null and cdNm != ""'>
		   AND CD_NM = #{cdNm}
	</if>
	<if test='useYn != null and useYn != ""'>
		   AND USE_YN = #{useYn}
	</if>
	</select>
	
<!-- 코드 상세 입력 -->
	<insert id="insert" parameterType="ji.hs.fire.bsc.vo.BscCdVO" flushCache="true">
	<![CDATA[
		INSERT INTO BC_CD_DT (
			   CD_COL
			 , CD
			 , CD_NM
			 , ORD
			 , USE_YN
			 ) VALUES (
			   #{cdCol}
			 , (SELECT LPAD(CONVERT(NVL(MAX(CD), '00000'), INT) + 1, 5, '0') FROM BC_CD_DT X WHERE CD_COL = #{cdCol})
			 , #{cdNm}
			 , (SELECT NVL(MAX(ORD), 0) + 1 FROM BC_CD_DT X WHERE CD_COL = #{cdCol})
			 , 'Y'
			 )
	]]>
	</insert>
	
<!-- 코드 상세 수정 -->
	<update id="update" parameterType="ji.hs.fire.bsc.vo.BscCdVO" flushCache="true">
		UPDATE BC_CD_DT
		   SET CD = #{cd}
	<if test='cdNm != null and cdNm != ""'>
		     , CD_NM = #{cdNm}
	</if>
	<if test='ord != 0'>
		     , ORD = #{ord}
	</if>
	<if test='useYn != null and useYn != ""'>
		     , USE_YN = ${useYn}
	</if>
		 WHERE CD_COL = #{cdCol}
		   AND CD = #{cd}
	</update>
	
<!-- 코드 상세 삭제 -->
	<update id="delete" parameterType="ji.hs.fire.bsc.vo.BscCdVO" flushCache="true">
		UPDATE BC_CD_DT
		   SET USE_YN = 'N'
		 WHERE CD_COL = #{cdCol}
		   AND CD = #{cd}
	</update>
</mapper>