<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ji.hs.fire.krx.mpr.KrxItmMapper">
<!-- ITM_CD 조건 한국거래소 종목 마스터 Count 조회 -->
	<select id="selectCount" resultType="Integer" parameterType="ji.hs.fire.krx.vo.KrxItmVO">
	<![CDATA[
		SELECT COUNT(*) AS CNT
		  FROM KX_ITM_MT
		 WHERE ITM_CD = #{itmCd}
	]]>
	</select>
	
<!-- ITM_CD 조건 한국거래소 종목 마스터 단건 조회 -->
	<select id="selectOne" resultType="ji.hs.fire.krx.vo.KrxItmVO" parameterType="ji.hs.fire.krx.vo.KrxItmVO">
	<![CDATA[
		SELECT ITM_CD
			 , ITM_NM
			 , MKT_CD
			 , STD_ITM_CD
			 , DATE_FORMAT(PUB_DT,'%Y/%m/%d') AS PUB_DT
			 , SPAC_YN
		  FROM KX_ITM_MT
		 WHERE ITM_CD = #{itmCd}
	]]>
	</select>
	
<!-- ITM_CD 조건 한국거래소 종목 마스터 단건 조회 -->
	<select id="selectAll" resultType="ji.hs.fire.krx.vo.KrxItmVO" parameterType="ji.hs.fire.krx.vo.KrxItmVO">
		SELECT ITM_CD
		     , ITM_NM
		     , MKT_CD
		     , (SELECT CD_NM FROM BC_CD_DT X WHERE X.CD_COL = 'MKT_CD' AND A.MKT_CD = X.CD) AS MKT_NM
		     , SPAC_YN
		     , ITM_KND_CD
		     , (SELECT CD_NM FROM BC_CD_DT X WHERE X.CD_COL = 'ITM_CL_CD' AND A.ITM_KND_CD = X.CD) AS ITM_KND_NM
		     , ITM_CL_CD
		     , (SELECT CD_NM FROM BC_CD_DT X WHERE X.CD_COL = 'ITM_CL_CD' AND A.ITM_CL_CD = X.CD) AS ITM_CL_NM
		  FROM KX_ITM_MT A
		 WHERE 1 = 1
	<if test='mktCd != null and mktCd != ""'>
		   AND MKT_CD = #{mktCd}
	</if>
	<if test='itmNm != null and itmNm != ""'>
		   AND ITM_NM LIKE CONCAT('%', #{itmNm}, '%')
	</if>
	<if test='spacYn != null and spacYn != ""'>
		   AND SPAC_YN = #{spacYn}
	</if>
		 ORDER BY ITM_NM ASC
	</select>
	
<!-- 한국거래소 종목 입력 -->
	<insert id="insert" parameterType="ji.hs.fire.krx.vo.KrxItmVO" flushCache="true">
	<![CDATA[
		INSERT INTO KX_ITM_MT (
			   ITM_CD
			 , ITM_NM
			 , MKT_CD
			 , STD_ITM_CD
			 , PUB_DT
			 , SPAC_YN
			 , ITM_KND_CD
			 , ITM_CL_CD
			 ) VALUES (
			   #{itmCd}
			 , #{itmNm}
			 , #{mktCd}
			 , #{stdItmCd}
			 , STR_TO_DATE(#{pubDt}, '%Y/%m/%d')
			 , #{spacYn}
			 , #{itmKndCd}
			 , #{itmClCd}
			 )
	]]>
	</insert>
	
<!-- 한국거래소 종목 수정 -->
	<update id="update" parameterType="ji.hs.fire.krx.vo.KrxItmVO" flushCache="true">
	<![CDATA[
		UPDATE KX_ITM_MT
		   SET ITM_CD = #{itmCd}
	]]>
	<if test='spacYn != null'>
		     , SPAC_YN = #{spacYn}
	</if>
	<if test='itmKndCd != null'>
		     , ITM_KND_CD = #{itmKndCd}
	</if>
	<if test='itmClCd != null'>
		     , ITM_CL_CD = #{itmClCd}
	</if>
	<![CDATA[
		 WHERE ITM_CD = #{itmCd}
	]]>
	</update>
</mapper>