<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ji.hs.fire.krx.mpr.KrxTrdMapper">
	
<!-- 한국거래소 거래 정보 입력 -->
	<insert id="insert" parameterType="ji.hs.fire.krx.vo.KrxTrdVO" flushCache="true">
	<![CDATA[
		INSERT INTO KX_TRD_MT (
			   ITM_CD
			 , DT
			 , ST_AMT
			 , ED_AMT
			 , LW_AMT
			 , HG_AMT
			 , INCR_AMT
			 , TRD_QTY
			 ) VALUES (
			   #{itmCd}
			 , STR_TO_DATE(#{dt}, '%Y%m%d')
			 , #{stAmt}
			 , #{edAmt}
			 , #{lwAmt}
			 , #{hgAmt}
			 , #{incrAmt}
			 , #{trdQty}
			 )
	]]>
	</insert>
</mapper>